@font-face {
    font-family: CaviarDreams;
    src: url(../assets/fonts/Caviar_Dreams_Bold.ttf);
}

/* HEADER */
.header{
    background-color: #003B95;
    font-family: CaviarDreams;
    
    
}
/* TITLE AND LOGO */
.header__head{
display: flex;
justify-content: space-around;
align-items: center;
color: white;


}



.search{
    animation: rigthleft 2s linear;
}

@keyframes rigthleft {
    0%{
        transform: translateX(1400px);
    }
    50%{
        transform: translateX(0px);
    }
    
}
.logo{
    animation: updown 2s linear;
}

@keyframes updown {
    0%{
        transform: translateY(-400px) ;
        
    }
    50%{
        transform: translateY(0px);
    }
    
}
/* NAV */
.header__nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    animation: apparence 2s linear;
}

@keyframes apparence {
  0%{
    transform: translate(-1800px);
  }50%{
    transform: translate(00px);
  }
    
}
.a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.a:hover{
    color: #DD972D;
    animation: zoom 0.8s linear;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
    
}

/* FOOTER */
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: CaviarDreams;
    margin-top:50px;
}

.rdss{
display: flex;
}

.rds{
    transform: scale(1);
    transition: transform 0.2s linear;
}

.rds:hover{
    transform: scale(1.5);
    transition: transform 0.2s linear;
}

.correo{
    color: white;
}






