/* CONTAINER */
.container {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: CaviarDreams;
}

/* HOTELS */
.hotel1,
.hotel2,
.hotel3,
.hotel4 {
    width: 60%;
    margin: auto;
    box-shadow: 3px 3px 3px 3px black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;

}

/* HOTELS IMG */
.hotel__img {
    transform: scale(1);
    transition: transform 0.2s linear;
}


.hotel__img:hover {
    transform: scale(1.5);
    transition: transform 0.2s linear;

}


/* TABLE */
.h1 {
    font-size: 30px;
}

.tablas {
    margin-top: 100px;
}

.table {
    border: solid 2px black;
    margin: auto;
    font-size: 30px;
}

.td_oro {
    background-color: #D1A631;
}

.td_plata {
    background-color: #A4A4A4;
}

.td_bronce {
    background-color: #8B4F35;
}