@font-face {
    font-family: CaviarDreams;
    src: url(../assets/fonts/Caviar_Dreams_Bold.ttf);
}

/* WALLPAPER */
body {
    background-image: url(../assets/images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: mover 30s linear infinite;
    background-position: center;
}



/* ANIMATION WALLPAPER */
@keyframes mover {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 45%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;


}

/* HEADER */
.header {
    text-align: center;



}

/* TITLE H1 */
.title,
.slogan {
    font-family: CaviarDreams;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

/* FORM */
.section {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: CaviarDreams;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 40px;
}

.input {
    border: solid 0px;
    border-bottom: solid 2px;
    background-color: transparent;
    color: black;
}

.button {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.button:hover {
    transform: scale(2);
    transition: transform 0.3s linear;
    background-color: #DD972D;
}