

/* CONTAINER */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: CaviarDreams;
}

/* BOOKING */
.reserva {
    text-align: center;

    margin-top: 50px;
}

/* RECOMMENDATIONS */


.sitios_img:hover {
    
    transform: scale(1.1);
    transition: transform 0.2s linear;
}




.recomendaciones {
    text-align: center;
    padding: 40px;
}


.tit {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}




.sitios_img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    transform: scale(1);
    transition: transform 0.2s linear;

}


.sitios_img-p {
    color: #666;
    line-height: 1.5;
}


.sitios1,
.sitios2,
.sitios3,
.sitios4 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 40px;
}


.sitios1:hover,
.sitios2:hover,
.sitios3:hover,
.sitios4:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
}

